*{margin: 0;
padding: 0;
}
.cabeçalho {background-color: aqua;
color: black;
display:flex;
justify-content: space-around;
align-items: center;
padding: 24 px 0;
}

.cabeçalho-imagem{
    width: 15%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.como{
    width: 50px;

}

.escola-imagem{
    width: 400px ;
    width: 400px;
}

.estudante-icone{
    width: 60px;
    width: 60px;
}